/* Media Query */
@media screen and (max-width: 1200px) {
    .w3-bar {
        width: 90%;
    }

    .w3-bar .bar-container {
        font-size: 0.865em;
        padding: 0.5rem 0.5rem;
    }

    .bar-right {
        padding-right: 0;
    }

    .bar-left a:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .banner-content-wrapper h2 {
        font-size: 3em;
        padding-bottom: 1rem;
    }

    .banner-wrapper {
        height: 43vh;
        padding-top: 4rem;
    }

    .banner-content-wrapper a {
        font-size: 1.3em;
        padding-top: 1rem;
    }

    .search input {
        padding: 0.9rem 3rem;
        width: 47%;
    }

    .w3-banner1-content h2 {
        font-size: 2em;
    }

    .w3-banner1-content h3 {
        font-size: 1.2em;
    }

    .w3-banner1 .w3-banner1-content {
        padding-top: 1rem;
    }

    .w3-banner1-content .playground-wrap {
        height: 150px;
    }

    .course-item {
        padding: 1rem;
        width: 90%;
    }

    .course-content-item h2 {
        font-size: 1em;
    }

    .course-content-item {
        padding-top: 3rem;
        padding-left: 2rem;
        width: 80%;
        grid-gap: 2rem;
    }

    .course-content-item a {
        margin: 0 auto;
        padding: 0.5rem 1rem;
        width: max-content;
        font-size: .9em;

    }

    .course-content-item p {
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .banner-wrapper {
        height: 48vh;
        padding-top: 3rem;
    }

    .bar-container .bar-right a:nth-child(odd) {
        display: none;
    }

    .bar-container .bar-right a:nth-child(2) {
        display: none;
    }

    .bar-left a {
        display: none;
    }

    .bar-left .menu-wrap {
        display: block;
    }

    .bar-left a:nth-child(1) {
        display: block;
        width: max-content;

    }

    .bar-left {
        display: flex;
        align-items: center;
        grid-gap: 1rem;
    }

    .bar-left img {
        width: 50px;

    }

    .popup-wrapper {
        top: 208px;
        left: 18px;
        width: 95%;
    }

    .menu-content-wrapper ul a:nth-child(1):hover {
        display: block;
        background-color: #ccc;
        /* width: max-content; */
        width: 100% !important;

    }

    .popup-wrapper .popup-content-wrapper {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}




@media screen and (max-width: 480px) {

    .banner-content-wrapper {
        width: 76%;
    }
    .bar-left .menu-wrap {
        display: block;
        font-size: 1.5em;
    }

    .bar-left img {
        width: 62px;
    }
    .banner-wrapper {
        height: 40vh;
        padding-top: 2rem;
    }
    .banner-content-wrapper h2 {
        font-size: 2em;
        padding-bottom: 4rem;
    }

    .banner-content-wrapper h3 {
        font-size: .9em;
        margin-top: -2rem;
    }
    .search input {
        padding: 0.9rem 1rem;
        width: 100%;
    }
    .search b {
        padding: 0.9rem 0rem;
    }
    .banner-content-wrapper a {
        font-size: 1em;
        padding-top: 2rem
    }

    .w3-banner1-content h2 {
        font-size: 1.5em;
    }
    .w3-banner1-content h3 {
        font-size: .9em;
    }
    .button-wrap {
        padding-top: 1rem;
    }
    
    .w3-banner1 .w3-banner1-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .w3-banner1-content .button-wrap a {
        font-size: .9em;
        width: 190px;
    }
    .right-content-wrapper {
        width: 94%;
    }
    .w3-banner1-content .playground-wrap {
       width: 87%; 
        }

        .course-content-item {
            padding-top: 3rem;
            width: 100%;
            grid-gap: 1rem;
        }
        course-item {
            padding: 1rem;
            width: 102%;
        }
        .course-content-item p {
            padding: 0.5rem;
        }
        .course-content-item a {
            font-size: .7em;
        }
        .course-content-item.course-grid {
            grid-template-columns: repeat(2, 1fr);
        }
        .course-item {
            padding: 0.6rem;
            width: 86%;
        }
        

}

@media screen and (max-width: 376px)
{
    .banner-content-wrapper {
        width: 81%;
    }
.bar-left .menu-wrap {
    display: block;
    font-size: 1.3em;
}
.w3-bar .bar-container {
    font-size: 0.865em;
    /* padding: 0.5rem 0.5rem; */
}

.banner-content-wrapper h2 {
    font-size: 1.8em;
    padding-bottom: 4rem;
}

.right-content-wrapper {
    width: 95%;
}
.w3-banner1-content .button-wrap a {
    font-size: .8em;
}
.w3-banner1-content h2 {
    font-size: 1.3em;
}
.w3-banner1-content .playground-wrap h1 {
    font-size: 1.4em;
}
.right-content-wrapper .try-btn {
    padding: 0.5rem 2rem;
}
.course-content-item p {
    /* padding: 0.5rem; */
    font-size: .8em;
}
.course-content-item a {
    font-size: .6em;
}
.course-content-item h2 {
    font-size: .9em;
}
}

@media screen and (max-width: 326px){
    .bar-left .menu-wrap {
        font-size: 1.2em;
    }
    .w3-banner1-content .button-wrap a {
        width: 172px;
    }
    .w3-banner1-content .playground-wrap h1 {
        font-size: 1.2em;
    }
    .right-content-wrapper .try-btn {
        padding: 0.5rem 1rem;
    }
    .right-content-wrapper {
        padding-bottom: 0.4em;
    }
    .course-content-item a {
        font-size: .5em;
    }
    .course-content-item {
        grid-template-columns: repeat(1, 1fr);
    }    
    .course-content-item {
        width: 88%;    
    }
    .course-item {
        padding: 0.4rem;
        width: 82%;
    }
    .course-content-item.course-grid {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 1rem;
    }
}

/* media Query End */